body {
    overflow-x: hidden;
 }


#title {}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: gray;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-icon {
    height: 15px;
    width: 15px;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


/* Homepage Styles */

#date {
    font-size: 16px;
    float: right;
    padding-right: 30px;
}


#log-an-entry {
    height: 100px;
    width: 300px;
    border-radius: 20px;
    font-size: 30px;
}

#log-an-entry:hover {
    color: black;
    background: #D3D3D3;
}

#yesterdays-highlights {
    position: absolute;
    left: 520px;
    top: 150px;
}

#home-page-graph-section {
    margin-top: 40px;
}

#home-page-graph {
    height: 250px;
    width: 450px;
}

/* What did you do today? Styles */

.activity-item {
    height: 60px;
    width: 60px;
    float: right;
    margin-right: 10px;
}

.activity-button {
    height: 70px;
    width: 600px;
    border-radius: 15px;
    margin-top: 10px;
}

.activity-title {
    float: left;
    padding-left: 5px;
    font-size: 18px;
}


.checkbox {
    height: 50px;
    width: 50px;
    margin-bottom: 5px;
}

#page-bottom-buttons {
    font-size: 16px;
    float: right;
    padding-right: 30px;
}

#bottom-button-back {
    height: 40px;
    width: 80px;
    border-radius: 15px;
    font-size: 12px;
    margin-bottom: 10px;
}

#bottom-button-back:hover {
    color: #fff;
    background: #D3D3D3;
}

#bottom-button-continue {
    height: 40px;
    width: 100px;
    border-radius: 15px;
    font-size: 12px;
    margin-bottom: 10px;
    background-color: rgb(60,179,113);
}

#bottom-button-continue:hover {
    color: #fff;
    background: rgb(34,139,34);
}



